.header {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    background-color: #fff;
    position: absolute;
}

.navbar .nav-item {
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #121212;
    border-radius: 20px;
    margin-right: 16px;
    padding: 4px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    outline: none;
}

.navbar .nav-item:hover,
.nav-item:focus {
    color: #fff;
    background-color: #ec5504;
}

.navbar .nav-item * {
    font-size: 14px;
}

.version {
    font-size: 14px;
    font-weight: 700;
    color: #ec5504;
}