@import url("./base/base.css");
@import url("./base/icon.css");
@import url("./base/link.css");
@import url("./base/input.css");
@import url("./base/button.css");
@import url("./base/popup.css");
@import url("./base/datetime.css");
@import url("./base/combobox.css");
@import url("./base/textarena.css");
@import url("./base/animation.css");
@import url("./layout/header.css");
@import url("./views/registerOvertime.css");
@import url("./views/registerOvertimeForm.css");
@import url("./views/employeeForm.css");

:root {
  --primary: #ec5504;
  --primary-bg: #ffede2;
  --white: #fff;
  --black: #050505;
  --text-box-height: 36px;
  --combo-box-height: 36px;
  --input-border-radius: 4px;
  --input-normal-border-color: #e0e0e0;
  --input-active-border-color: #ec5504;
  --input-hover-border-color: #ec5504;
  --input-disable-border-color: #dadce3;
  --input-disable-bg-color: #e8eaef;
  --input-error-border-color: #ff6161;
  --combobox-highlight-bg-color: #ffede2;
  --combobox-highlight-color: #ec5504;
  --combobox-color: #000;
  --tab-color: #ec5504;
  --tab-bg: #ec5504;
  --tab-border: #ec5504;
  --combobox-selected-bg: #e6e8ed;
  --date-picker-active-bg: #ec5504;
  --date-picker-range-bg: #ffede2;
  --date-picker-hover-bg: #ffede2;
  --date-picker-color-today: #ec5504;
  --button-height: 36px;
  --button-border-radius: 4px;
  --button-primary-color: #fff;
  --button-primary-normal-bg-color: #ec5504;
  --button-primary-normal-border-color: #ec5504;
  --button-primary-hover-bg-color: #fa6000;
  --button-primary-hover-border-color: #fa6000;
  --button-primary-active-bg-color: #e35102;
  --button-primary-active-border-color: #e35102;
  --button-primary-disabled-color: rgba(255, 255, 255, 0.56);
  --button-primary-disabled-bg-color: rgba(236, 85, 4, 0.56);
  --button-primary-disabled-border-color: rgba(236, 85, 4, 0.56);
  --button-primary-focus-bg-color: #fa6000;
  --button-primary-focus-border-color: #fa6000;
  --button-secondary-hover-bg-color: #eff1f6;
  --grid-loading-color: 236, 85, 4;
  --dropdown-item-hover: #ffede2;
  --dropdown-item-active-color: #ec5504;
}

body {
  box-sizing: border-box !important;
  outline: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: "Roboto" !important;
  color: #212121;
}

html {
  overflow: auto !important;
}

*::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

*::-webkit-scrollbar-thumb {
  background: #9e9e9e !important;
  border-radius: 10px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1 !important;
  border-radius: 10px !important;
}

*::-webkit-scrollbar-track {
  background: #fff !important;
}

.dx-scrollbar-horizontal.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active,
.dx-scrollbar-horizontal.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active .dx-scrollable-scroll,
.dx-scrollbar-horizontal.dx-scrollbar-hoverable.dx-state-hover,
.dx-scrollbar-horizontal.dx-scrollbar-hoverable.dx-state-hover .dx-scrollable-scroll {
  height: 8px;
  background: #f1f1f1 !important;
}

.dx-scrollbar-vertical.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active,
.dx-scrollbar-vertical.dx-scrollbar-hoverable.dx-scrollable-scrollbar-active .dx-scrollable-scroll,
.dx-scrollbar-vertical.dx-scrollbar-hoverable.dx-state-hover,
.dx-scrollbar-vertical.dx-scrollbar-hoverable.dx-state-hover .dx-scrollable-scroll {
  width: 8px;
  height: 100%;
  background: #f1f1f1 !important;
}

.dx-scrollable-scroll-content {
  width: 100%;
  height: 100%;
  background: #9e9e9e !important;
  border-radius: 10px;
}