.ms-input {
  height: 35px;
  width: 100%;
  outline: none;
  border-radius: var(--input-border-radius);
}

.mx-input {
  border: 1px solid #e0e0e0 !important;
}

.mx-input:hover,
.mx-input:focus {
  border-color: var(--primary) !important;
}

.notValidDate .mx-input {
  border: 1px solid red !important;
}

.input-border-hover:hover {
  border: 1px solid var(--input-hover-border-color);
}

.input-border-active:focus-within {
  border: 1px solid var(--input-active-border-color);
}