.ms-popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ms-popup-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  background: #333;
}

.popup-form {
  width: 892px;
  height: auto;
  background-color: #fff;
  position: absolute;
  border-radius: 4px;
  font-size: 14px;
}

.form-header {
  width: 100%;
  height: 53px;
  padding: 24px 24px 0 24px;
  display: flex;
  align-items: center;
}

.form-header .btn-close-popup {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 50%;
}

.form-header .btn-close-popup:hover {
  background-color: var(--button-secondary-hover-bg-color);
}

.form-content {
  width: 100%;
  height: calc(100% - 121px);
  padding: 24px;
}

.form-bottom {
  width: 100%;
  height: 68px;
  padding: 16px 24px 16px 24px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}